<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="http://speechkitchen.org/home/error-analysis-tools/" target="_blank">Speech Error Analysis</a>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.navbar-inner -->
</div>
<!-- /.navbar -->
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#" ng-click="toUpload()">Data Analysis</a>
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="span1">
              <img src="ico1.png" class="img-polaroid">
            </div>
            <div class="span6">
              This section allows you to input a CSV file containing various results of a speech recognition experiment. Based on this file, it generates interactive graphs, which can be sliced-diced and compared.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="span8 offset2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#" ng-click="toUploadOov()">Out of Vocabulary</a>
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="span1">
              <img src="ico2.png" class="img-polaroid">
            </div>
            <div class="span6">
              This section allows you to input three text files for (1) training data, (2) testing data and (3) dictionary. Based on these files, it generates a list of words which are out of vocabulary.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="span8 offset2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#" ng-click="toUploadSclite()">Substitution Words</a>
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="span1">
              <img src="ico3.png" class="img-polaroid">
            </div>
            <div class="span6">
              This section allows you to input detailed output of sclite tool (dtl file). Based on this file, it generates a list of most substituted words.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
