<div ng-show="filtersEmpty">
  Select two or more data subset
</div>
<div ng-hide="filtersEmpty">
  <h3>
    <a href="#a2-accuracy-graphs" id="a2-accuracy-graphs">
      #
    </a>
    Accuracy Graphs
  </h3>
  <hr>
  <div class="row">
    <div class="span12">
      <h4>
        <a href="#a2-accuracy-graphs-demographics" id="a2-accuracy-graphs-demographics">
          #
        </a>
        Demographics
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span3">
          <div id="accuracy-gradelevel-chart2" class="speech-chart">
            <div class="title">
              Accuracy vs. Grade
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span12">
      <h4>
        <a href="#a2-accuracy-graphs-audio-properties" id="a2-accuracy-graphs-audio-properties">
          #
        </a>
        Audio properties
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span6">
          <div id="accuracy-snr-chart2" class="speech-chart">
            <div class="title">
              Accuracy vs. SNR
            </div>
          </div>
        </div>
        <div class="span6">
          <div id="accuracy-spr-chart2" class="speech-chart">
            <div class="title">
              Accuracy vs. SPR
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span6">    
          <div id="accuracy-score-chart2" class="speech-chart">
            <div class="title">
              Accuracy vs. Pronunciation
            </div>
          </div>
        </div>
        <div class="span6">
          <div id="accuracy-f0-chart2" class="speech-chart">
            <div class="title">
              Accuracy vs. F0
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span6">
          <div id="accuracy-f1-chart2" class="speech-chart">
            <div class="title">
              Accuracy vs. F1
            </div>
          </div>
        </div>
        <div class="span6">
          <div id="accuracy-f2-chart2" class="speech-chart">
            <div class="title">
              Accuracy vs. F2
            </div>
          </div>
        </div>
      
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span6">
          <div id="accuracy-f3-chart2" class="speech-chart">
            <div class="title">
              Accuracy vs. F3
            </div>
          </div>
        </div>
        <div class="span6">
          <div id="accuracy-intensity-chart2" class="speech-chart">
            <div class="title">
              Accuracy vs. Intensity
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div></div></div></div>