<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="http://speech-kitchen.org/home/error-analysis-tools/" target="_blank">Speech Error Analysis</a>
      <div class="btn-group pull-right">
        <button class="btn btn-small" ng-click="toModule1()">Select</button>
        <button class="btn btn-small active" ng-click="toModule2()">Compare</button>
      </div>
      <li class="divider-vertical pull-right"></li>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.navbar-inner -->
</div>
<!-- /.navbar -->
<div ng-hide="filtersEmpty">
Legends
  <table class="table">
    <thead>
    	<th>Data subset</th><th>Histogram</th><th>Accuracy</th>
    </thead>
    <tbody>
      <tr ng-repeat="filter in filters">
        <td>{{filter.name}}</td>
        <!-- <td><span style="color: {{colors[2 * $index]}}">_____</span></td><td><span style="color: {{colors[2 * $index + 1]}}">_____</span></td> -->
        <td>
          <svg height="20" width="50" version="1.1">
            <line x1="2" y1="10" x2="48" y2="10" stroke="{{colors[2 * $index]}}" stroke-width="10" stroke-opacity="0.5">
          </svg>
        </td>
        <td>
          <svg height="20" width="50" version="1.1">
            <line x1="2" y1="10" x2="48" y2="10" stroke="{{colors[2 * $index +1]}}" stroke-width="10">
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>
